*.class
*.log

# Scala-IDE specific
.scala_dependencies
.config/
.classpath
.project
.settings
*.tmp
*.bak
*.swp
.worksheet

# IntelliJ Specific
.idea/
*.iml
.idea_modules
projectFilesBackup

__pycache__/
*.py[cod]
*$py.class
.python-version